<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href=<%= root_path%>>AutoBot Automation <span class="sr-only">(current)</span></a> </li>
    </ul>
    <form class="form-inline my-2 my-md-0"> </form>
  </div>
</nav>

<div class="container">
  <h2>Automate Task</h2>
  <p></p>
  <p></p>
  <%= form_tag @list do %>

    <div class="row">
      <div class="form-inline">
        <div class="col-sm-3 col-lg-3">
          <div class="form-group">
            <label for="Name">Name:</label>
            <%= text_field_tag :name, "",class: "form-control", placeholder: "Name", id: "name", name:"list[name]"%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="member Id">Member Id:</label>
            <%= number_field_tag :member_id, nil, min: 5, class: "form-control", placeholder: "Enter Member Id", id: "member_id", name:"list[member_id]"%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="pin code">Pin Code:</label>
            <%= number_field_tag :pin_code, nil, min: 4, class: "form-control", placeholder: "Enter Pin Code", id: "pin_code", name:"list[pin_code]"%>
          </div>
        </div>
        <div class="col-sm-3" style="margin-top: auto;">
          <div class="form-group">
            <%= select_tag(:meridies, options_for_select([ ['AM', "AM"], ['PM', "PM"]] ), {:class => 'form-control'})  %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div style="text-align:center">
      <%= submit_tag("Add Profile", :class=>"btn btn-default", :style => "background-color: #007bff; font-size: smaller; color: white;" ) %>
    </div>
  <% end %>
</div>
<footer class="page-footer font-small blue fixed-bottom" style="background: #007bff; font-size: smaller;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: black;">© 2020 Copyright:
    <a href="mailto:adil3267@gmail.com" style="color: white;"> Contact Us </a>
  </div>
  <!-- Copyright -->

</footer>