<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href=<%= root_path%>>AutoBot Automation <span class="sr-only">(current)</span></a> </li>
    </ul>
    <form class="form-inline my-2 my-md-0"> </form>
  </div>
</nav>

<div class="container">
  <div>
    <h2>Automate Task</h2>
    <p style="color:red"><strong>AutoBot Runs Every Day between 0500-0900, and 1200-1600.</strong></p>
  </div>
  <p>Today's Profile Submitted Details AM ( 5:AM To 9:AM ).</p>
  <% am_p = @all_list.am_profile_with_ok %>
  <% if am_p.count > 0 %>
    <% am_p.each do |u| %>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= u.name %>
          <span class="badge badge-primary badge-pill"><%= u.submit_status.capitalize %></span>
        </li>
      </ul>
      <%end%>
  <% else %>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        No Submission Yet !
        <span class="badge badge-primary badge-pill">0</span>
      </li>
    </ul>
  <% end %>

  <br><p>Today's Profile Submitted Details PM ( 12:PM To 6:PM ).</p>
  <% pm_p = @all_list.pm_profile_with_ok %>
  <% if pm_p.count > 0 %>
    <% pm_p.each do |u| %>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= u.name %>
          <span class="badge badge-primary badge-pill"><%= u.submit_status.capitalize %></span>
        </li>
      </ul>
    <%end%>
  <% else %>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        No Submission Yet !
        <span class="badge badge-primary badge-pill">0</span>
      </li>
    </ul>
  <% end %>

</div>

<footer class="page-footer font-small blue fixed-bottom" style="background: #007bff;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: black;">© 2020 Copyright:
    <a href="mailto:adil3267@gmail.com" style="color: white;"> Contact Us </a>
  </div>
  <!-- Copyright -->

</footer>